@mixin icon($name-class, $position, $width, $height, $file-name, $top: 0px, $mTop: 0px, $left: 0px, $mleft: 0px) {

    .#{$name-class} {
        position: $position;
        display: inline-block;
        width: $width;
        height: $height;
        background: none;

        &:after,
        &:before {
            content: '';
            @include position(absolute, $top null null $left);
            width: $width;
            height: $height;
            background: {
                image: url("/pics/i/"+ $file-name +".png"), none;
                image: url("/pics/i/"+ $file-name +".svg");
                position: top left;
                repeat: no-repeat;
            }
            opacity: 1;
            margin-top: $mTop;
            margin-left: $mleft;
            @include transition(all 0.1s ease-in-out);
        }

        &:after {
            background-position: bottom left;
            opacity: 0;
            visibility: hidden;
        }

        &:before {
            background-position: top left;
            opacity: 1;
            visibility: visible;
        }

        &:hover {
            &:after {
                opacity: 1;
                visibility: visible;
            }

            &:before {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

/********

@include icon('icon-search', relative, 18px, 19px, 'icon-search');

*********/