$z-index: (
    default       : 1
);

@function z-index($key) {
    @return map-get($z-index, $key);
}

@mixin z-index($key) {
    z-index: z-index($key);
}

/********

@include z-index(default);

*********/