<div class="chat">
    <div class="chat__aside">
        <div class="user-panel">
            <div class="user-panel__name user-list__name_yourself">{{vm.user}}</div>
            <div class="user-panel__logout">
                <div class="button button_white button_small button_bordered">
                    <button ng-click="vm.logout()" class="button__item">выйти</button>
                </div>

            </div>
        </div>
        <div class="user-list">
            <div class="user-list__item">
                <div class="user-list__title">Все пользователи</div>
            </div>
            <div class="user-list__item " ng-repeat="user in vm.allUsers">
                <div class="user-list__name">{{user}}</div>
            </div>
        </div>
    </div>
    <div class="chat__main">
        <div class="chat__log">
            <div class="message">
                <div class="message__item" ng-repeat="message in vm.allMessages">
                    <div class="message__header">
                        <div class="message__author">{{message.author}}</div>
                        <div class="message__date">{{message.date}}</div>
                    </div>
                    <div class="message__text">{{message.text}}</div>
                </div>
            </div>
            <div id="chatLogBottom"></div>
        </div>
        <form name="form" class="chat__input textarea" ng-submit="vm.sendMessage()" role="form">
                <textarea
                        name="message"
                        class="textarea__item"
                        placeholder="Символ `/` забинден для команд, по этому сообщения содержащие этот символ в бд не попадут"
                        ng-model="vm.message"
                ></textarea>
            <div class="textarea__button button">
                <button class="button__item textarea__button-item" type="submit">Отправить</button>
            </div>

        </form>
    </div>
</div>