<div class="intro">
    <div class="intro__inner">
        <form name="regform" class="card card_filled" ng-submit="vm.register()" role="form">
            <div class="card__inner">

                <div class="input">
                    <input type="text" name="regusername" id="regusername" class="input__item" autocomplete="off" placeholder="Логин" ng-model="vm.user.username" required>
                    <div ng-show="regform.regusername.$dirty && regform.regusername.$error.required" class="card__alert card__alert_single">Введите логин</div>
                </div>
                <div class="input">
                    <input type="email" name="regemail" id="regemail" class="input__item" autocomplete="off" placeholder="E-mail" ng-model="vm.user.email" required>
                    <div ng-show="regform.regemail.$dirty && regform.regemail.$error.required" class="card__alert card__alert_single">Введите логин</div>
                </div>
                <div class="input">
                    <input type="password" name="regpassword" id="regpassword" class="input__item" placeholder="Пароль" ng-model="vm.user.password" required >
                    <div ng-show="regform.regpassword.$dirty && regform.regpassword.$error.required" class="card__alert card__alert_single">Введите пароль</div>
                </div>
            </div>
            <div class="button" ng-class="vm.regLoading ? 'button_loading' : ''">
                <button type="submit" ng-disabled="regform.$invalid || vm.regLoading" class="button__item">Зарегистрироваться</button>
                <div class="button__loader"></div>
            </div>
        </form>

        <form name="form" class="card card_filled" ng-submit="vm.login()" role="form">
            <div class="card__inner">
                <div class="input">
                    <input type="text" name="username" id="username" class="input__item" autocomplete="off" placeholder="Логин" ng-model="vm.username" required>
                    <div ng-show="form.username.$dirty && form.username.$error.required" class="card__alert card__alert_single">Введите логин</div>
                </div>
                <div class="input">
                    <input type="password" name="password" id="password" class="input__item" placeholder="Пароль" ng-model="vm.password" required >
                    <div ng-show="form.password.$dirty && form.password.$error.required" class="card__alert card__alert_single">Введите пароль</div>
                </div>
            </div>
            <div class="button" ng-class="vm.logLoading ? 'button_loading' : ''">
                <button type="submit" ng-disabled="form.$invalid || vm.logLoading" class="button__item">Войти</button>
                <div class="button__loader"></div>
            </div>
        </form>
    </div>
    <div class="intro__inner">
        <div class="card">
            <h1 ng-if="!flash">Good day comandor!</h1>

            <h1 ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></h1>
            <p>Не бойся вводить реальный e-mail при регистрации, спам еще никого не убивал</p>
            <p>У тебя есть возможность зайти как гость, для этого используй:</p>
            <p>
                login:&nbsp;<b>test</b><br>
                password:&nbsp;<b>test</b>
            </p>

        </div>
    </div>
</div>
