/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.browsehappy {
    @include position(fixed, 0 0 null 0);
    z-index: 255;

    .chromeframe {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 2.5em 1em;
    }
}