@import "vars";
@import "common/bourbon/bourbon";
@import "common/bootstrap";
@import "components/create-icon";
@import "components/z-index";
@import "project/fonts";
@import "project/forms";
@import "project/typo";

::-moz-selection {
    background: $color_Selection;
    color:$color_SelectionText;
    text-shadow: none;
}

::selection {
    background: $color_Selection;
    color:$color_SelectionText;
    text-shadow: none;
}

html {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    height: 100%;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient($color_Main_Gradient);
}

/*! ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "elements/primary/view-frame";

@import "elements/input";
@import "elements/button";
@import "elements/textarea";

@import "elements/intro";
@import "elements/card";

@import "elements/chat";
@import "elements/user-list";
@import "elements/user-panel";
@import "elements/message";

@import "common/helpers";
@import "project/print";