/*Colors*/

$color_Text: #1e1e1e;
$color_Text_Secondary: #ff225c;

$color_Bg: #E3F2FD;
$color_Elem_White: #ffffff;
$color_Bg_White: #ffffff;

$color_Button: #3F51B5;
$color_Button_Hover: #3949AB;

$color_Transparent_White: rgba(255,255,255,.4);
$color_Transparent_White_Hover: rgba(255,255,255,.6);

$color_Transparent_White_Text: rgba(255,255,255,.6);
$color_Border_White: rgba(255,255,255,.6);
$color_Border_White_Hover: #ffffff;

$color_Text_White: #ffffff;
$color_Text_Gray: #b4b4b4;
$color_Text_Dark_Gray: #6b6b6b;

$color_Card_Gradient: to right bottom, #7986CB, #536DFE;
$color_Main_Gradient: 68deg, #3d7afd 0,#4c6df9 50%,#4a68ef 50%,#5b5ef4 100%;

$color_Primary: lightsalmon;
$color_Secondary: #333;
$color_Tertiary: #6b6b6b;

$color_Link: $color_Text;
$color_LinkHover: $color_Primary;

$color_Selection: $color_Primary;
$color_SelectionText: #FFF;

$font_Primary: 'Roboto', Arial, Helvetica, sans-serif;
$font_Secondary: 'Ubuntu', Arial, Helvetica, sans-serif;

$font_Size: 18px;
$line_Height: 24px;

$line_grid: 12px;

$time: .3s;

/*Dimensions*/
$Width: 960px;
$minWidth: 960px;
$maxWidth: 1920px;