.button {
	$elem: &;
	
	&_small {
		#{$elem}__item {
			$s: 24px;
			height: $s;
			line-height: $s;
			font: {
				size: 12px;
				weight: 700;
			}
			padding: 0 10px;
		}
	}
	
	&_bordered {
		#{$elem}__item {
			border-radius: 4px;
		}
	}
	
	&_white {
		#{$elem}__item {
			color: $color_Button_Hover;
			background: $color_Elem_White;
			
			&:hover {
				background: $color_Bg;
			}
		}
	}
	
	
	
	&_loading {
		position: relative;
		
		#{$elem}__item {
			cursor: default;
			
			&:hover {
				background: $color_Button;
			}
		}
		
		#{$elem}__loader {
			
			display: block;
		}
	}
	
	
	
	&__item {
		$s: 54px;
		border: none;
		outline: none;
		text-align: center;
		font: {
			family: $font_Primary;
			size: $font_Size;
		};
		padding: 0 20px;
		@include size(100% $s);
		line-height: $s;
		background: $color_Button;
		@include transition(background $time);
		color: $color_Text_White;
		
		&[disabled] {
			opacity: .8;
			
			&:hover {
				background: $color_Button;
			}
		}
		
		&:hover {
			background: $color_Button_Hover;
		}
	}
	
	&__loader {
		$size:       30px;
		$speed:      0.75s;
		$thickness:  2px;
		@include position(absolute, 0 0 0 null);
		@include size(54px);
		display: none;
		
		&:before {
			content: "";
			@include position (absolute, 50% 50% null null);
			margin-top: -$size/2;
			margin-right: -$size/2;
			@include animation-duration($speed);
			@include animation-iteration-count(infinite);
			@include animation-name(rotate-forever);
			@include animation-timing-function(linear);
			@include size($size);
			border: $thickness solid $color_Elem_White;
			border-right-color: transparent;
			border-radius: 50%;
			display: inline-block;
			z-index: 1;
		}
	}
}

/* Loader */
@mixin rotate-forever {
	0%    { @include transform(rotate(0deg)); }
	100%  { @include transform(rotate(360deg)); }
}

@-webkit-keyframes rotate-forever { @include rotate-forever; }
@-moz-keyframes rotate-forever { @include rotate-forever; }
@keyframes rotate-forever { @include rotate-forever; }