.card {
	max-width: 500px;
	min-width: 300px;
	color: $color_Text_White;
	
	&_filled {
		margin-bottom: 40px;
		@include display(flex);
		@include flex-direction(column);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
		background: linear-gradient($color_Card_Gradient);
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&__inner {
		padding: 30px 30px 40px 30px;
	}
	
	&__alert {
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 12px;
		
		&_single {
			text-transform: capitalize;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}