.chat {
	@include display(flex);
	min-height: 100%;
	max-height: 100%;
	width: 100%;
	
	&__aside {
		width: 30%;
		min-width: 300px;
		max-height: 100%;
		padding: 40px 0;
		color: $color_Text_White;
		background: linear-gradient($color_Main_Gradient);
		overflow: hidden;
		overflow-y: auto;
	}
	
	&__main {
		background: $color_Bg_White;
		@include display(flex);
		@include flex-direction(column);
		min-height: 100%;
		min-width: 70%;
	}
	
	&__log {
		@include flex(7);
		max-height: 100%;
		overflow: hidden;
		overflow-y: auto;
	}
	
	&__input {
		position: relative;
		@include flex(1);
		@include display(flex);
		padding: 20px 30px;
		
		&:before {
			content: '';
			@include position(absolute, 0 0 null 0);
			height: 2px;
			background: linear-gradient($color_Main_Gradient);
		}
	}
}