.input {
	margin-bottom: 12px;
	
	&:last-child {
		margin-bottom: 0;
	}
	
	&__item {
		background: none;
		color: $color_Text_White;
		border: none;
		border-bottom: 1px solid $color_Border_White;
		outline: none;
		padding: 10px;
		font: {
			family: $font_Primary;
			size: $font_Size;
		};
		@include transition(all $time);
		
		@include placeholder {
			color: $color_Border_White;
		}
		
		&:focus {
			border-color: $color_Border_White_Hover;
			
			@include placeholder {
				color: $color_Text_White;
			}
		}
	}
}