.intro {
	@include display(flex);
	@include align-items(center);
	min-height: 100%;
	width: 100%;
	
	&__inner {
		@include flex(3);
		@include display(flex);
		@include align-items(center);
		@include flex-direction(column);
		
		&:last-child {
			@include flex(4);
		}
	}
}