.message {
	&__item {
		padding: 14px 30px;
		
		&:hover {
			background: $color_Bg;
		}
	}
	
	&__header {
		margin-bottom: 10px;
	}
	
	&__author {
		display: inline-block;
		font-weight: 700;
		margin-right: 10px;
	}
	
	&__date {
		display: inline-block;
		color: $color_Text_Dark_Gray;
		font-size: 14px;
	}
	
	&__text {
		word-break: break-all;
	}
	
}