.textarea {
	&__item {
		@include size(100%);
		min-height: 100%;
		resize: none;
		border: none;
		outline: none;
		font {
			size: $font_Size;
			font-family: $font_Primary;
		}
		
		@include placeholder {
			color: $color_Text_Gray
		}
	}
	
	&__button {
		&-item {
			height: 100%;
		}
	}
}