.user-panel {
	margin-bottom: 40px;
	padding: 0 20px;
	
	&__name {
		display: inline-block;
		margin-right: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 24px;
		max-width: 100%;
		font: {
			size: 20px;
			weight: 700;
		}
	}
	
	&__logout {
		display: inline-block;
		overflow: hidden;
	}
}