.user-list {
	&__item {
		margin-bottom: 20px;
		padding: 0 20px;
		
		&:last-child {
			margin-bottom: 0;
		}
		
		&_on-line {
			position: relative;
			
			&:before {
				content: '';
				@include position(absolute, 50% 0 null null);
				@include size(14px 2px);
				margin-top: -1px;
				background: $color_Bg_White;
			}
		}
	}
	
	&__title {
		font-size: 16px;
		text-transform: uppercase;
	}
	
	&__name {
		display: inline-block;
		margin-right: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 24px;
		max-width: 100%;
		font: {
			weight: 700;
		}
	}
	
	&__status {
		display: inline-block;
		color: $color_Transparent_White_Text;
		overflow: hidden;
	}
}