body {
    font-family: $font_Primary;
    font-size: $font_Size;
    line-height: $line_Height;
    font-weight: 100;
    color: $color_Text;
}

a {
    color: $color_Link;
    text-decoration: none;

    &:hover {
        color: $color_LinkHover;
        text-decoration: none;
    }

    &:focus {
        color: $color_Link;
        outline: none;
        text-decoration: none;

        &:hover {
            color: $color_LinkHover;
            text-decoration: none;
        }
    }
}

h1 {
    font: {
        family: $font_Secondary;
        weight: 700;
        size: 48px;
    }
    line-height: 60px;
    color: $color_Text;
    margin: 60px 0 36px 0;
}

h2 {
    font: {
        family: $font_Primary;
        weight: 400;
        size: 24px;
    }
    line-height: 24px;
    text-transform: uppercase;
    color: $color_Text_Secondary;
    margin: 60px 0 36px 0;
}

h3 {
    font: {
        family: $font_Secondary;
        weight: 700;
        size: 24px;
    }
    line-height: 30px;
    margin: 36px 0 12px 0;
}

ul, ol {
    margin: $line_Height 0;
    padding: 0 0 0 $line_Height;
}

nav {
    ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            margin: 0;
            padding: 0;

            &:before {
                display: none;
            }
        }
    }
}

p {
    margin: $line_Height 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, ul, ol, table, p, hr, blockquote {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.intro {
    h1 {
        color: $color_Text_White;
    }
}